{% extends "layout.html" %}
{% block body %}
<table id=top_table>
<tr>
<td id=index_menu>
  <a class=power_button href="{{ url_for('exit') }}" title="Shut down all processes" onclick="return confirm('Shut down importer and all reporting processes?')">
      <img class=icon src={{ url_for('static', filename='icons/power.svg') }}/>Shutdown</a>
</td>
<td id=flash_td>
<div id=flash_container>
{% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
{% endfor %}
<div id="shutdown_indicator"></div>
</div>
</td>
<td id=logo_space>
  <a href="https://bitbucket.org/anduril-dev/cyto/wiki/Home" target=_blank>
  <img class=logo src={{ url_for('static', filename='logo/cyto.png') }}/>
  </a>
</td>

</tr>
</table>

<div class=box>
<p>Welcome to Cyto! Start analysing your data by creating a new project. Recent projects will show in this page to find your
previous results</p>
<h2>Recent projects</h2>
</div>
<div class=overflow_x>
  <table id=index_table>
  <thead>
   <tr>
    <th class=project_name_column>Projects
    <th>Files
    <th>Analysis
    <th>Completed
    <th>Modified(UTC)
    <th>Delete project
   </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td><a class=index_project_link
             href="{{ url_for('view',project = entry.name, active='default') }}"
             title="{{ entry.name | safe }}"
          >{{ entry.name }}</a>
      <td>
        {{ entry.data_files }}
      </td>
      <td>
        {{ entry.no_of_settings }}
      </td>
      <td>
       {{ entry.no_of_completed }}
       </td>
      <td>
       {{ entry.modification_date_str }}
       </td>
      <td>
      <a class="index_project_link" href="{{ url_for('delete_project', project = entry.name) }}"
        onclick="return confirm('Are you sure you want to delete the project, including input data and all results?')"
        title="Delete the the project, including input data and all results"
      >
        <img class="icon delete_icon" src={{ url_for('static', filename='icons/trash-2.svg') }}/>
      </a>
      </td>
  {% endfor %}
  </tbody>
  </table>
</div>

<div class=box>
<form action="{{ url_for('new') }}" method=post>
   <h2>New project</h2>
   <p>Create a new project by giving it a descriptive name</p>
  <input class=input_text type=text size=30 name=project title="Project name can not have speacial characters">
  <button type="submit" class="button create_button">
    <img class=icon src={{ url_for('static', filename='icons/cyto-white.svg') }}/>Create
  </button>
</form>
</div>

{% endblock %}
