<!doctype html>
<head>
  <title>Cyto Importer</title>
  <style>
@font-face {
    font-family: "Liberation Sans";
    src: url("{{ url_for('static', filename='fonts/LiberationSans-Regular.ttf') }}");
}
@font-face {
    font-family: "Liberation Sans";
    src: url("{{ url_for('static', filename='fonts/LiberationSans-Bold.ttf') }}");
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("{{ url_for('static', filename='fonts/LiberationSans-Italic.ttf') }}");
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("{{ url_for('static', filename='fonts/LiberationSans-BoldItalic.ttf') }}");
    font-weight: bold;
    font-style: italic;
}
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body onload="launch_pollers()">
<div id=page-container>
<div id=page>

{% block body %}{% endblock %}
</div>

<table id=footer_table>
<tr>
<td>

</td>
<td>
GNU GPL v.3
</td>
<td>
{{ g.version | safe }}
</td>
</tr>
</table>
</div>
</body>

