{% extends "layout.html" %}
{% block body %}
<div id="project_var" name='{{ config.project | safe }}'></div>
<div id="active_var" name='{{ active | safe }}'></div>
<table id=top_table>
<tr>
<td id=view_menu>
  <a class=button href="{{ url_for('view', project = config.project, active = active) }}">
    <img class=icon src={{ url_for('static', filename='icons/cyto.svg') }}/>
    Back to project
  </a>
  <a class=button href="{{ url_for('log', project = config.project, active = active) }}">
    <img class=icon src={{ url_for('static', filename='icons/refresh-ccw.svg') }}/>Refresh
  </a>
</td>
<td id=flash_td>
<div id=flash_container>
{% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
{% endfor %}
<div id="shutdown_indicator"></div>
</div>
</td>
<td id=logo_space>
  <a href="https://bitbucket.org/anduril-dev/cyto/wiki/Home" target=_blank>
  <img class=logo src={{ url_for('static', filename='logo/cyto.png') }}/>
  </a>
</td>
</tr>
</table>


<table id=title_table>
<tr>
<td id=view_title>
  <h2><img class=icon src={{ url_for('static', filename='icons/cyto.svg') }}/>
  {{ config.project }}
  </h2>
</td>
<td id=view_run_menu>
  <a id=anduril_stop_button class=button href="{{ url_for('stop', project = config.project, active = active) }}" title="Stop all processing">
    <img class=icon src={{ url_for('static', filename='icons/x-octagon.svg') }}/>Stop&nbsp;analysis
  </a>
  <a class=button href="{{ url_for('full_log', project = config.project, active = active) }}">
    <img class=icon src={{ url_for('static', filename='icons/book.svg') }}/>
      View&nbsp;full&nbsp;log
  </a>
</td>
</tr>
</table>

<pre id=log_pre>
{{ log }}
</pre>
{% endblock %}
