{% extends "layout.html" %}
{% block body %}
<table id=top_table>
<tr>
<td id=view_menu>
  <a class=button href="{{ url_for('view', project = config.project) }}">
    <img class=icon src={{ url_for('static', filename='icons/cyto.svg') }}/>
    Back to project
  </a>
</td>
<td id=flash_td>
<div id=flash_container>
{% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
{% endfor %}
<div id="shutdown_indicator"></div>
</div>
</td>
<td id=logo_space>
  <a href="https://bitbucket.org/anduril-dev/cyto/wiki/Home" target=_blank>
  <img class=logo src={{ url_for('static', filename='logo/cyto.png') }}/>
  </a>
</td>
</tr>
</table>

<table id=title_table>
<tr>
<td id=view_title>
  <h2><img class=icon src={{ url_for('static', filename='icons/cyto.svg') }}/>
  {{ project }}
  </h2>
</td>
<td id=view_run_menu>

</td>
</tr>
</table>
<h2>
Preparing files ...
</h2>

<script type="text/javascript">
  go_to_view("{{ url_for('view', project = project, active = active) }}");
</script>

{% endblock %}
