{% extends "layout.html" %}
{% block body %}
<div id="project_var" name='{{ config.project | safe }}'></div>
<div id="active_var" name='{{ active | safe }}'></div>
<div id="data_read" value='{{ toggles.channels_read | safe }}'></div>
<div id="prepare_url" value="{{ url_for('read_data', project = config.project, active = active) | safe }}"></div>
<table id=top_table>
<tr>
<td id=view_menu>
  <a class=button href="{{ url_for('index') }}">
    <img class=icon src={{ url_for('static', filename='icons/home.svg') }}/>Home
  </a>
  <a class=button href="{{ url_for('view', project = config.project, active = active) }}">
    <img class=icon src={{ url_for('static', filename='icons/refresh-ccw.svg') }}/>Refresh
  </a>
</td>
<td id=flash_td>
<div id=flash_container>
{% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
{% endfor %}
<div id="upload_progress" class=flash></div>
<div id="shutdown_indicator"></div>
<div id="anduril_message"></div>
</div>
</td>
<td id=logo_space>
  <a href="https://bitbucket.org/anduril-dev/cyto/wiki/Home" target=_blank>
  <img class=logo src={{ url_for('static', filename='logo/cyto.png') }}/>
  </a>
</td>
</tr>
</table>


<table id=title_table>
<tr>
<td id=view_title>
  <h2><img class=icon src={{ url_for('static', filename='icons/cyto.svg') }}/>
  {{ config.project }}
  </h2>
</td>
<td id=view_run_menu>
  <a id=anduril_run_button class="mock button rundisable validatedisable" href="{{ url_for('run', project = config.project, active = active) }}">
    <img id=icon_play class=icon src={{ url_for('static', filename='icons/play.svg') }}/>
    <span id="anduril_start_text">Start&nbsp;analysis</span>
  </a>
  <a id=anduril_stop_button class=button href="{{ url_for('stop', project = config.project, active = active) }}" title="Stop all processing">
    <img class=icon src={{ url_for('static', filename='icons/x-octagon.svg') }}/>Stop&nbsp;analysis
  </a>
  <a id=anduril_log_button class=button href="{{ url_for('log', project = config.project, active = active) }}">
    <img class=icon src={{ url_for('static', filename='icons/book.svg') }}/>View&nbsp;log
  </a>
  <a class="button disabled" id=results_link href="{{ url_for('launch_results', project = config.project) }}" TARGET=_BLANK>
    <img class=icon src={{ url_for('static', filename='icons/trello.svg') }}/>View&nbsp;results
  </a>

</td>
</tr>
</table>


<table id=view_data_table>
<tr>
<td id=view_validation_status>
<div class=box>
    Number of files: <span class=bold id=validation_count title="Files validated / Files uploaded">{{ toggles.data_validated }}</span>/<span class=bold  id=validation_files title="Files validated / Files uploaded">{{ data_files }}</span>
<br>Validation state: <br><span class=bold  id=validation_read>{{ toggles.channels_read }}</span>
<br>Annotations uploaded: <br><span class=bold  id=validation_annoation>{{ toggles.annotations }}</span>
</div>
</td>
<td id=view_upload>

  <form id="upload_form" action={{ url_for('upload', project = config.project, active = active) }} method=post enctype=multipart/form-data>
      <input class="button rundisable mock" id="upload_select_mock" type=file name=file
       onchange="FileSelectHandler(event)" multiple="multiple" accept=".csv, .fcs">
      <button type="button" class="submit button rundisable"
        id="upload_select"
        onclick="document.getElementById('upload_select_mock').click();"
        title="Upload data files for analysis (FCS, or CSV files)"
      >
      <img class="icon" src={{ url_for('static', filename='icons/upload.svg') }}/>
      Upload data files
      </button>
    <button type="submit" class="button submit rundisable mock"
      id=upload_button
      value=Upload
      title="Upload selected files"
    >
      <img class="icon" src={{ url_for('static', filename='icons/trash-2.svg') }}/>
      Upload
    </button>

  </form>
  <form id="upload_annotations_form" action={{ url_for('upload_annotations', project = config.project, active = active) }} method=post enctype=multipart/form-data>
      <input class="button rundisable mock" id="upload_select_annotations_mock"
        type=file name=file_annotation accept=".csv"
        onchange="AnnotationFileSelectHandler(event)"
      >
      <button type="button" class="submit button validatedisable rundisable"
        id="upload_select" value="Upload annotations"
        onclick="document.getElementById('upload_select_annotations_mock').click();"
        title="Upload a CSV file with Sample Annotations"
      >
        <img class="icon delete_icon" src={{ url_for('static', filename='icons/upload.svg') }}/>
        Upload annotation
      </button>
  </form>
<!--
    <a class="button rundisable" href="{{ url_for('read_data', project = config.project, active = active) }}">
        <img class="icon delete_icon" src={{ url_for('static', filename='icons/cpu.svg') }}/>
        Validate data
    </a>
-->
<br><a class="button rundisable"
        href="{{ url_for('delete_data', project = config.project) }}"
        onclick="return confirm('Are you sure you want to delete the source data?')"
        title="delete the source data">
        <img class="icon delete_icon" src={{ url_for('static', filename='icons/trash-2.svg') }}/>
        Delete files
    </a>
</td>
<td id=view_select_settings>
<form action="{{ url_for('view', project = config.project, active = active) }}" method=post class=rundisable id=settings_manager_form>
    Current&nbsp;settings:
    <select id="select_active" class="input dropdown" name=active onchange="this.form.submit()">
    {% for act in config.settings | sort %}
      <option value={{ act }} {% if active == act %}SELECTED{% endif %}>{{ act }}</option>
    {% endfor %}
    </select>
    <br>
    <a class="button submit minibutton"
      href="#"
      onclick="document.getElementById('save_settings').click();"
      title="Save settings"
      id="save_settings_button"
    >
      <img id="save_settings_icon" class="icon miniicon"
        src={{ url_for('static', filename='icons/save.svg') }}
      />
    </a>
    <a class="button submit minibutton" href="{{ url_for('view', project = config.project, active = active) }}"
       title="Discard unsaved settings, and reload saved"
    >
      <img class="icon miniicon" src={{ url_for('static', filename='icons/refresh-ccw.svg') }}/>
    </a>
    <input type=hidden name=delete_active value=""/>
    <a class="button submit minibutton"
      onclick="if (confirm('Are you sure you want to delete these settings?')) { document.getElementsByName('delete_active')[0].value = 'delete_active'; document.getElementById('settings_manager_form').submit(); }"
      title="Delete active settings"
    >
      <img class="icon delete_icon miniicon" src={{ url_for('static', filename='icons/trash-2.svg') }}/>
    </a>
    <!-- Added two buttons for potential reproducibility feature. Upload would need to check that markers match 'active'settings before creating a new copy of 'active'and replacing the parameters for analysis -->
    <a class="submit button minibutton" src="#"
        id="upload_settings" value="Upload Settings"
        onclick="document.getElementById('upload_select_settings_mock').click();"
        title="Upload settings file. Note! May replace existing settings!"
      >
      <img class="icon miniicon" src={{ url_for('static', filename='icons/upload.svg') }}/>
    </a>
    <a class="button submit minibutton" href="{{ url_for('download_settings', project = config.project, tstamp = tstamp) }}"
       title="Download settings file"
    >
      <img class="icon miniicon" src={{ url_for('static', filename='icons/download.svg') }}/>
    </a>
    <br>
    Save as new:
    <br>
    <input type=text name="new_active" id="mock_new_active" size=15
      onchange = "copy_new_active();"
      onkeyup = "copy_new_active();"
    >
    <a class="button submit minibutton"
      href="#"
      onclick="document.getElementById('create_settings').click();"
      title="Save as new settings"
      id="save_new_settings_button">
      <img class="icon delete_icon miniicon" src={{ url_for('static', filename='icons/save.svg') }}/>+
    </a>
  </form>
  <form id="upload_settings_form" action={{ url_for('upload_settings', project = config.project) }} method=post enctype=multipart/form-data>
      <input class="button rundisable mock" id="upload_select_settings_mock"
        type=file name=file_settings accept=".json"
        onchange="SettingsFileSelectHandler(event)"
      >
  </form>

</td>
<td id=view_download>
  <a class="button rundisable"
      id = "download_csv"
      href="{{ url_for('download_csv', project = config.project, active = active, tstamp = tstamp) }}"
      title="Download results as CSV">
      <img class="icon delete_icon" src={{ url_for('static', filename='icons/download.svg') }}/>
          Download CSV
      </a>
  <br>
  <a class="button rundisable"
      id = "download_app"
      href="{{ url_for('download_app', project = config.project, active = active, tstamp = tstamp) }}"
      title="Download results app">
      <img class="icon delete_icon" src={{ url_for('static', filename='icons/download.svg') }}/>
          Download results
  </a>
</td>
</tr>
</table>

<div class=box>

<form action="{{ url_for('view', project = config.project, active = active) }}" method=post class="rundisable validatedisable">
<input class="submit mock" id="save_settings" type=submit name=submit value="Save configuration">
<input class="submit mock" id="create_settings" type=submit name=submit value="New active">
<input class="mock" id="new_active" name="new_active" type=hidden value="">
<table id=view_data_table>
 <tr>
 <td id=view_settings_1>
  <table id=settings_table1 class=settings_table>
   <thead>
    <tr>
      <th colspan=2>Input data</th>
    </tr>
   </thead>
  <tbody>
   <tr>
    <td>
      <div>Markers&nbsp;for&nbsp;clustering</div>
      <select name="channels_type" multiple size="23" class=multiple
            onmouseover="document.getElementById('ctrl_cell_type').classList.add('highlight')"
            onmouseout="document.getElementById('ctrl_cell_type').classList.remove('highlight')"
      >
      {%if toggles.channels_read == "done" %}
        {% for ch in available_channels %}
         <option value="{{ ch }}" {% if ch in config.settings[active].channels_type %}SELECTED{% endif %}>{{ ch }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </td>
    <td>
      <div>Markers&nbsp;for&nbsp;visualization</div>
      <select name="channels_state" multiple size="23" class=multiple
            onmouseover="document.getElementById('ctrl_cell_state').classList.add('highlight')"
            onmouseout="document.getElementById('ctrl_cell_state').classList.remove('highlight')"
      >
      {%if toggles.channels_read == "done" %}
        {% for ch in available_channels %}
        <option value="{{ ch }}" {% if ch in config.settings[active].channels_state %}SELECTED{% endif %}>{{ ch }}</option>
        {% endfor %}
      {% endif %}
      </select>
    </td>
   </tr>
   <tr>
    <td id="ctrl_usage" colspan=2>
      Press Ctrl for multiple selection. <span id="ctrl_cell_type">Cell type markers are used for
clustering, dimensionality reduction, and visualization</span>,
 while <span id="ctrl_cell_state">cell state markers are only included in the results browser
for visualization</span>.
    </td>
   </tr>
   <!-- <tr>
    <td colspan=2>
      <div>Sample or group column (optional)</div>
      <select name=group_column class=dropdown>
        <option value=None {% if config.settings[active].group_column == "None" %}SELECTED{% endif %}>none</option>
        {% for ch in available_channels %}
        <option value="{{ ch }}" {% if ch == config.settings[active].group_column %}SELECTED{% endif %}>{{ ch }}</option>
        {% endfor %}
      </select>
    </td>
   </tr> -->
  </tbody>
  </table>

 </td>
 <td id=view_settings_2>
  <table id=settings_table2 class=settings_table>
    <thead>
      <tr>
        <th>Data processing</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <td>
          <label for=downsample>Downsample before analysis?</label>
          <div class=box>
          <input type="radio" name="downsample" value="true" {% if config.settings[active].downsample%}CHECKED{% endif %}>Yes</input>
          <input type="radio" name="downsample" value="false" {% if not config.settings[active].downsample%}CHECKED{% endif %}>No</input>
          </div>

          <div class="box smaller">
          Downsample from {{ "{0:,}".format(config.ncells) }} to
          <input type=text name="sample_size" value="{{ config.settings[active].sample_size }}" size=6>
          cells
          </div>
          <div class="box smaller">
          Downsample method
          <select type=text name="sampling_method" class=dropdown>
              <option value=None {% if config.settings[active].sampling_method == "None" %}SELECTED{% endif %}>none</option>
              {% for method in ['random', 'density'] %}
                <option value="{{ method }}" {% if config.settings[active].sampling_method == method %}SELECTED{% endif %}>{{ method }}</option>
              {% endfor %}
            </select>
          </div>
        <div class=separator></div>
        <div>Data transformation</div>
        <div class=box>
          <select name = transformation class=dropdown>
            <option value=None {% if config.settings[active].transformation == "None" %}SELECTED{% endif %}>none</option>
            {% for method in ['asinh', 'biexp', 'defaultLogicle', 'ln1p', 'log1p', 'quadratic'] %}
              <option value="{{ method }}" {% if config.settings[active].transformation == method %}SELECTED{% endif %}>{{ method }}</option>
            {% endfor %}
          </select>
        </div>
        <div class=separator></div>
        <div>Sample normalization</div>
        <div class=box>
          <select name=normalization class=dropdown>
            <option value=None {% if config.settings[active].normalization == "None" %}SELECTED{% endif %}>none</option>
            {% for method in ['mean-center', 'range(0,1)', 'z-score'] %}
              <option value="{{ method }}" {% if config.settings[active].normalization == method %}SELECTED{% endif %}>{{ method }}</option>
            {% endfor %}
          </select>
        </div>
      </td>
     </tr>
    </tbody>
  </table>

</td>
<td id=view_settings_3>

  <table id=settings_table3 class=settings_table>
    <thead>
    <tr>
      <th>Data analysis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class=bold>Clustering method</div>
        <div class=box>
          <select name=cluster_method class=dropdown>
            <option value=None {% if config.settings[active].cluster_method == "None" %}SELECTED{% endif %}>none</option>
            {% for method in ['Phenograph', 'k-means', 'X-shift', 'Flow-means', 'FlowSOM'] %}
              <option value="{{ method }}" {% if config.settings[active].cluster_method == method %}SELECTED{% endif %}>{{ method }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="box smaller" id="clusters_for_None">
          &nbsp;
        </div>
        <div class="box smaller mock" id="clusters_for_k-means">
          Number of clusters
          <input type=text name="k_clusters" value="{{ config.settings[active].k_clusters }}" size=3>
        </div>
        <div class="box smaller mock" id="clusters_for_Phenograph">
          Number of k-Nearest Neighbors
          <input type=text name="k_nearest" value="{{ config.settings[active].k_nearest }}" size=3>
        </div>
        <div class=separator></div>
        <div class=bold>2-dimensional embedding methods</div>
        <div class=separator></div>
            <label for=downsample>Downsample further before data embedding?</label>
            <div class=box>
            <input type="radio" name="downsample_dim" value="true" {% if config.settings[active].downsample_dim%}CHECKED{% endif %}>Yes</input>
            <input type="radio" name="downsample_dim" value="false" {% if not config.settings[active].downsample_dim%}CHECKED{% endif %}>No</input>
            </div>

            <div class="box smaller">
            Down to
            <input type=text name="sample_size_dim" value="{{ config.settings[active].sample_size_dim }}" size=6>
            cells
            </div>
        <div class=box>
          <table><tbody><tr>
            <td>tSNE<td><input type="checkbox" name="tsne" value="true" {% if config.settings[active].tsne%}CHECKED{% endif %}></input>
            <td>Perplexity<td><input type=text name="perplexity" value="{{ config.settings[active].perplexity }}" size=6>
          <tr>
            <td> <td>
            <td>Theta<td><input type=text name="theta" value="{{ config.settings[active].theta }}" size=6>
          </tr>
          <tr>
            <td>UMAP<td><input type="checkbox" name="umap" value="true" {% if config.settings[active].umap%}CHECKED{% endif %}></input>
            <td>Min dist<td><input type=text name="umap_min_dist" value="{{ config.settings[active].umap_min_dist }}" size=6>
          </tr>
          <tr>
              <td> <td>
              <td>Number of k-Nearest Neighbors<td><input type=text name="umap_nearest" value="{{ config.settings[active].umap_nearest }}" size=6>
            </tr>
          <!-- <tr>
            <td>PCA<td><input type="checkbox" name="pca" value="true" {% if config.settings[active].pca%}CHECKED{% endif %}></input>
          </tr> -->
          </tbody></table>
      </td>
    </tr>
   </tbody>
  </table>

</td>
</tr>
</table>
</form>
</div>

<a name="pagebottom"></a>
<script type="text/javascript">
  setChanges();
</script>
{% endblock %}
