body {
    font-family: sans-serif;
}

.card-columns {
    column-count: 2;
}

.nav-pills > li > a {
    color:#f5f5f5!important;
}

.nav-pills > li > a.active {
    background-color: #d97e00!important;
}

.nav-pills > li > a:focus, .nav-pills > li > a:hover {
    background-color: #d97e00!important;
    color:white!important;
}
