body {
  font-family: "Liberation Sans";
  margin: 0;
  --index-title: #ffb546;
  --index-title2: #ffd566;
  --index-create: #eb6000;
}
#page-container {
  min-height: 100vh;
  position:relative;
}
#page {
  padding-bottom: 2.5rem;
}
#top_table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  height: 4em;
  overflow: hidden;
}
#top_table td {
  padding: 0;
}
#index_menu {
  width: 10em;

}
#view_menu {
  width: 18em;

}
#flash_td {

}
#logo_space {
  width: 120px;
}
.logo {
  width: 95%;
}
.icon {
    width: 1em;
    vertical-align: text-bottom;
    margin-bottom: 0.1em;
    margin-right: 0.3em;
}
.miniicon {
    margin-left: 0.5em;
}

.project_name_column {
  min-width: 20em;
}
#index_table {
  border-collapse: collapse;
  margin-left: 10px;
  margin-right: 10px;
}
#index_table th {
  background-color: var(--index-title);
  padding: 4px;
}
#index_table td {
  white-space: nowrap;
  padding: 4px;
  text-align: center;
}
#index_table th:nth-child(even)  { background-color: var(--index-title2); }

#index_table tr:nth-child(even) td:first-child { background: #dadada; text-align: left; }
#index_table tr:nth-child(odd)  td:first-child { background: #b9b9b9; text-align: left; }

#index_table tr:nth-child(even) { background: #f2f2f2; }
#index_table tr:nth-child(odd) { background: #cccccc; }

.index_project_link {
  color: black;
  font-size: large;
  text-decoration: none;
}

#flash_container {
  z-index: 109;
  width: 100%;
}

#title_table {
  background-color: var(--index-title);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 2px;
}
#view_title {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
}
#view_run_menu {
  white-space: nowrap;
  text-align: center;
  /*width: 30em;*/
}
#save_settings_icon {
  margin-left: 0.5em;
  margin-right: 0.3em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
#view_data_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#upload_annotations_form {
  margin-top: 4px;
  margin-bottom: 2px;
}
#upload_form {
  margin-bottom: 2px;
}
#upload_select {

}
#upload_select_mock {

}
#view_validation_status {
}
.bold {
  font-weight: bold;
}
#view_upload {
}
#view_select_settings {

}
#view_download {
}
#download_app {
  margin-top: 4px;
}
#log_pre {
  height: calc(100vh - 15em);
  width: calc(100vw - 2em);
  overflow: scroll;
}
#footer_table {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--index-title);
  text-align: center;
}
.flash {
  color: var(--index-create);
  font-weight: bold;
  background-color: white;
  padding: 5px;

  animation:fadeout 3.5s 1;
  animation-fill-mode: forwards;
  animation-delay:4s;

}

@keyframes fadeout{
    from {opacity :1;}
    to {opacity :0;}
}



.rotate {
  width: 1em;
  height: 1em;
  display: inline-block;
  transform-origin: 0.55em 0.55em;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { transform:rotate(360deg); } }

#shutdown_indicator {
  color: var(--index-create);
  font-weight: bold;
  background-color: white;
}
#anduril_indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
}
#anduril_run_button {

}
#anduril_stop_button {
  text-shadow: 1px 1px lightgray, 1px -1px lightgray, -1px 1px lightgray, -1px -1px lightgray;
}

.big {
  color: black;
  font-size: x-large;
  text-decoration: none;
}

.box {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.power_button {
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 8px;
  line-height: 32px;
  font-weight: bold;
  font-size: large;
  border-radius: 6px;
  margin-left: 4px;
}

.button {
  background-color: lightgray;
  color: black;
  text-decoration: none;
  padding: 8px;
  line-height: 32px;
  font-weight: bold;
  font-size: small;
  border-radius: 4px;
  margin-left: 4px;
  border: none;
}
.create_button {
  background-color: var(--index-create);
  color: white;
  font-size: medium;
  padding-top: 0px;
  padding-bottom: 0px;
}
.submit {
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;

}
.minibutton {
  padding-top: 3px;
  padding-bottom: 3px;
}
input {
  background-color: white;
  font-family: "Liberation Sans";
  border-radius: 3px;
}
button {
  font-family: "Liberation Sans";
}
select {
  font-family: "Liberation Sans";
  border-radius: 3px;
}
.multiple {
  width: 100%;
  overflow-y: auto;
  height: 22em;
}

.dropdown {
  border: 1px solid gray;
  background-color: white;
}

.running {
  background: repeating-linear-gradient(
  118deg,
  lightgray,
  lightgray 10px,
  var(--index-create) 10px,
  var(--index-create) 15px
);
  background-size: 200% 200%;
  animation: translate 10s linear infinite;
  }

@keyframes translate {
	0% {
		background-position-x: 0px;
	}
	100% {
/*
		background-position: 434px 0px;
*/
    background-position-x: 30px;
	}
}

@keyframes translate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.mock {
  display: none;
}
.whitebg {
  background-color: white;
}
.transbg {
  background-color: transparent;
}
.overflow_x {
  overflow-x: auto;
}
.highlight {
  background-color: var(--index-title);
}
.smaller {
  font-size: small;
}
.floater_left {
  float: left;
}
.floater_right {
  float: right;
}
.floater_clear {
  clear: both;
}

#settings_container td {
  vertical-align: top;
  width: 33%;
}

.settings_table {
  border-collapse: collapse;
  height: 28em;
  width: 99%;
}
.settings_table th { height: 2em; padding: 10px; background-color: var(--index-title); }
.settings_table td {
  padding: 4px;
  background-color: #EEE;
  vertical-align: top;
}

#ctrl_usage {
  font-size: x-small;
}

.separator {
  height: 1em;
}
/*
#undo {
  line-height: inherit;
  display: none;
}

#hover_menu {
  position: absolute;
  z-index: 99;
  top: 2px;
  right: 2px;
  background-color: white;
  text-align: right;
}


#notify_unsaved {
  border: 1px solid gray;
  background-color: orange;
  color: white;
  padding: 5px;
  text-align: center;
  display: none;
  height: 1.1em;
  margin-left: 2px;
}
*/


#upload_progress {
    margin: 4px 4px 4px 4px;
}
#upload_progress.success {
    color: var(--index-title);
    font-weight: bold;
}

#upload_progress.failure {
    color: red;
    font-weight: bold;
}


.glow {
/*  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
*/  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px 0px var(--index-create);
  }
  100% {
    box-shadow: 0px 0px 7px 6px var(--index-create);
  }
}
